* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "The Nautigal", cursive;
  font-family: "Work Sans", sans-serif;
}

/* header style */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500px;
  font-size: 1rem;
}
nav > ul {
  display: flex;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
.navTitle {
  font-size: 2.8rem;
  font-weight: 700px;
  color: #131313;
}
/* Banner styel  */
.bannerContent {
  max-width: 800px;
  text-align: center;
  margin: 0px auto;
}
.bannerTitle {
  font-size: 4rem;
  font-weight: 700px;
  color: #131313;
}
.bannerTitle {
  color: 727272;
}
.banner {
  justify-content: center;
  text-align: center;
}
.bannerImg {
  /* max-width: 900px; */
  margin-top: 20px;
  width: 100%;
}
.btnPrimary {
  border-radius: 8px;
  background: #ff900e;
  padding: 25px;
  font-size: 20px;
  font-weight: 600;
  color: #FFF;
  cursor: pointer;
  border: 0;
}
.bannerDiscription{
    color: #727272;
}
/* Styles for main section */
main{
  max-width: 1440px;
  margin: 0px auto;
}
.teamsContainer{
  display: flex;
  align-items: center;
  margin-top: 85px;
}
.teamsImgSection{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

}
.teamContent{
  padding-right:24px;
  padding-left:70px ;
}
.teamsTitle{
  font-size: 2.8rem;

}
.quickList{
  color: #727272;
  font-weight: 500px;
}
.textFeaters{
  color: #FF900E;
  font-weight: 700;
}


/* responsive media queries */
/* for header */

@media screen and (max-width:576px) {

    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
}
/* Medium devices */
@media screen and (min-width:576px) and (max-width:916px) {
    header{
        padding: 50px;
        background-color: #b81616;
    }
    nav{
       flex-direction: column;
    }
}